div.container {
    width: 60%;  
    margin: auto;  
}
/* định dạng thẻ div chưa các button tab */
div.tab {
    overflow: hidden; 
    background-color: #fff; 
}

/* định dạng các button tab */
div.tab button {
    background-color: #ffffff !important; 
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* đổi màu khi một button tab được hover */
div.tab button:hover {
    background-color: rgba(247,220,204,1) !important;
}

/* đổi màu nền cho tab đang được hiển thị nội dung */
div.tab button.active {
    background-color: #Fb8441 !important;
}

/* định dạng nội dung hiển thị */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}


div.fix-top {
    margin-top: 15px;
}
div.margin-left-4{
    margin-left: -5px;
}
div.margin-left-8{
    margin-left: 5px;
}

h6.text-h6{
    font-size: 14px; 
    margin-top: 10px;
}

input.input-form-control{
    border: 1px solid #AAAAAA;
    min-height: 10px; 
    font-size: 15px;"
}

div.div-row{ 
    margin-top: 15px; 
    margin-left: -5px; 
    margin-right: 0px;
}
span.plus-c{
    font-size: 16px; 
    color: #02790E;
}

.fix-border{
    border: 1px solid black;
}

td.fix-border{
    border: 1px solid black !important;
}

center.color-black{
    color:black;
}

td.text-center{
    text-align: center;
}
span.download-c{
    font-size: 24px; 
    float: right;
}
span.trash-c{
    color: red;
    font-size:24px;
}

td.max-width{
    max-width: 0px;
}

div.text-center{
    text-align: center;
}

button.btn-head{
    font-size: 13px !important;
    color: black !important; 
    outline: none !important; 
    border-right: 1px solid #FB8441 !important; 
    border-bottom: 2px solid #FB8441 !important;
}

/* b{
    color: #333333 !important;
} */

div.div-hover:hover{
    background: #f46a6a;
    a{
        color: white !important;
    }
}

button.deadline-3m{
    font-size: 16px; 
    outline: none !important; 
    background: #FBA420 !important; 
    border: 4px solid #FBA420; 
    border-radius: 5px; 
    font-weight: bold;
}


button.deadline-2m{
    font-size: 16px; 
    outline: none !important; 
    background: #FB8441 !important; 
    border: 4px solid #FB8441; 
    border-radius: 5px; 
    font-weight: bold;
}


button.deadline-1m{
    font-size: 16px; 
    outline: none !important; 
    background: #EE5816 !important; 
    border: 4px solid #EE5816; 
    border-radius: 5px; 
    font-weight: bold;
}


button.deadline-1w{
    font-size: 16px; 
    outline: none !important; 
    background: #FB1F0E !important; 
    border: 4px solid #FB1F0E; 
    border-radius: 5px; 
    font-weight: bold;
}