#table-wrapper {
    position:relative;
}
#table-scroll {
    overflow:auto;
}
#table-wrapper table {
    width:100%;

}
.loader{
  content: '';
  /*box-sizing: border-box;*/
  position: absolute;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  /*border-radius: 50%;*/
/*  border: 2px solid #ccc;
  border-top-color: #333;*/
  animation: spinner  linear infinite;
  background: url('/assets/spiner1.gif') 
              50% 50% no-repeat rgb(249,249,249);
}